<section class="properties">
  <ng-container  *ngIf="pageResponseProperties | async as properties; else loading">
  <h2 class="properties__title">Propiedades existentes</h2>
   <div class="properties__filters" *ngIf="pageResponseCategories | async as categories" >
    <div class="properties__filters--container">
      <div class="properties__filters-search">
        <app-searchbar [control]="searchValue" [placeholder]="'Busca ciudad o departamento'" ></app-searchbar>
      </div>
     <app-select [name]="'una categoria'" [data]="categories.content" [control]="searchCategory"></app-select>
    </div>
     <div class="filters">
      <div class="filters__actions--filters">
        <button class="filters__btn" (click)="handleOpenFilters()">Filtros<app-icon [icon]="filtersIocn"></app-icon></button>
      <app-order-select [control]="orderChange"  [label]="'Ordernar'"></app-order-select>
      </div>
     <div class="filters__container" *ngIf="isOpenFilters">
      <app-counter [tag]="'Habitaciones'" [control]="countRooms"></app-counter>
      <app-counter [tag]="'Baños'" [control]="countBaths"></app-counter>
      <article class="price">
        <label class="price__tag" for="priceRange">Precio</label>
        <div class="price__container">
          <input class="price__input" type="number" placeholder="Min" [formControl]="priceMinRange"/>
        <input class="price__input" type="number" placeholder="Max" [formControl]="priceMaxRange"/>
        </div>
      </article>
      <div class="actions">
        <button class="actions__submit" (click)="sendData()">Buscar</button>
      </div>
     </div>
     </div>
  </div>
  <div class="properties__table--container">
    <h2 class="properties__table--empty" *ngIf="properties.content.length === 0">No hay propiedades con esas caracteristicas</h2>
    <app-table *ngIf="properties.content.length !== 0" [info]="info" (greetTwo)="onGreetTwo($event)" (greet)="onGreet($event)" ></app-table>
    <div class="modal__backdrop" *ngIf="isOpen">
  <div class="modal__container">
    <h2 class="modal__title">Crea horario de visitas <p class="modal__id"> Prop. {{propertyId}}</p></h2>
    <app-schedule-form [propertyId]="propertyId" ></app-schedule-form>
    <button  class="modal__close" (click)="handleCloseModal()"><app-icon class="modal__close-icon" [icon]="closeIcon"></app-icon></button>
  </div>
</div>
  </div>

    <app-pagination
    *ngIf="properties.content.length !== 0"
    [page]="pageNumber"
    [pages]="pages"
    [totalPages]="totalPages"
    [getFunction]="getProperties.bind(this, ascendingOrder, categoryFilter, locationFilter, minRooms, minBathrooms, minPrice, maxPrice)"
    (pageChange)="onPageChanged($event)">
  </app-pagination>
  </ng-container>
  <ng-template #loading>
      <div class="properties__loading">
        <img class="properties__loading-spinner" src="../../../../assets/images/180-ring-with-bg.svg"
          alt="spinnerLoading">
        <p>Cargando..</p>
      </div>
    </ng-template>
</section>
