<footer class="footer">
  <div class="footer__main-container">
    <section class="footer__section">
      <p class="footer__heading--main">Hogar360</p>
      <div class="footer__section--items">
        <p class="footer__item">Tu partner en la búsqueda del espacio perfecto.</p>
      </div>
    </section>
    <section class="footer__section">
      <p class="footer__heading">Acceso rápido</p>
      <div class="footer__section--items">
      <p class="footer__item">Buscar Propiedades</p>
      <p class="footer__item">Publica tu propiedad</p>
      <p class="footer__item">Property Management</p>
      </div>
    </section>
    <section class="footer__section">
      <p class="footer__heading">Contáctanos</p>
      <div class="footer__section--items">
        <p class="footer__item"> <app-icon [icon]="faPhone"></app-icon> 1-800-HOGAR360</p>
        <p class="footer__item"><app-icon [icon]="faEnvelope"></app-icon>infohogar360.com</p>
        <p class="footer__item"><app-icon [icon]="faLocationDot"></app-icon> 123 Real Estate Ave</p>
      </div>

    </section>
    <section class="footer__section">
      <p class="footer__heading">Síguenos</p>
      <div class="footer__social-icons">
        <app-icon [icon]="faFacebook"></app-icon>
        <app-icon [icon]="faTwitter"></app-icon>
        <app-icon [icon]="faInstagram"></app-icon>
        <app-icon [icon]="faLinkedin"></app-icon>
      </div>
    </section>
  </div>
  <div class="footer__rights--container">
    <span>© 2025 Hogar360. All rights reserved.</span>
  </div>
</footer>
