@import 'variables';

.counter {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__tag {
    font-size: 14px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    border-radius:10px;
    background: red;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid $border-color;
    background: $primary-color;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  &__btn {
    // border-radius: 100%;
    background: transparent;
    border: none;
    font-size: 20px;
    color: $secondary-color;
  }
}
