<form class="locationForm" [formGroup]="locationForm">
  <section class="locationForm__info">
    <fieldset class="locationForm__group">
      <app-form-field [label]="'Nombre del barrio'">
        <app-input class="location__input" [type]="'text'" [control]="locationBarrio"
          [placeholder]="'Escribe el nombre del barrio.'"></app-input>
      </app-form-field>
    </fieldset>

    <fieldset class="locationForm__group" *ngIf="pageResponseDepartment | async as departments">
      <app-form-field [label]="'Seleccione un departamento'">
        <app-select [name]="'un departamento'" [data]="departments.content" [control]="locationDepartment"></app-select>
      </app-form-field>
    </fieldset>

    <fieldset class="locationForm__group" *ngIf="pageResponse | async as cities">
      <app-form-field [label]="'Seleccione una ciudad'">
        <app-select [name]="'una ciudad'" [data]="cities.content" [control]="locationCity"></app-select>
      </app-form-field>
    </fieldset>
  </section>

  <footer class="locationForm__btn">
    <app-button [text]="'Crear'" (buttonClick)="sendData()"></app-button>
  </footer>
</form>
