<form class="form">
  <div class="form__info">
    <fieldset class="form__group">
      <app-form-field class="form__input-group" [label]="'Hora de inicio'">
        <app-input class="form__input" [control]="incio" [type]="'datetime-local'"></app-input>
      </app-form-field>
      <app-form-field class="form__input-group" [label]="'Hora de fin'">
        <app-input class="form__input" [control]="final" [type]="'datetime-local'"></app-input>
      </app-form-field>
    </fieldset>
  </div>
  <footer class="form__btn">
    <app-button [text]="'Guardar'" (buttonClick)="sendData()"></app-button>
  </footer>
</form>
