<section class="login">
  <section class="login__left">
    <div class="login__left-overlay"></div>
    <div class="login__left-logo" routerLink="/">
      <h2>Home360</h2>
    </div>
    <div class="login__left-info">
      <h2>Administre sus propiedades de manera eficiente</h2>
      <p>Controle fácilmente los pagos de alquiler, las solicitudes de mantenimiento y la comunicación <br> con los inquilinos desde una sola plataforma. <br> Olvídese de las complicaciones de la gestión manual.</p>
    </div>
  </section>
  <section class="login__right">
    <app-login-form></app-login-form>
  </section>
</section>
