@font-face {
  font-family: "Monrope";
  src: url(../assets/fonts/Manrope-VariableFont_wght.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
