@import 'variables';

.order-select {
    background: $primary-color;
  padding: 10px 7px;
  border-radius: 8px;
  border: 2px solid $border-color;
  color: $text-color;

  &__label {
    font-size: 13px;
  }

  &__dropdown {
    background: $primary-color;
    border: none;
  }

  &order-select__option {
    font-weight: bold;
  }

}
