@import 'variables';
@import 'fonts';


.categoryForm {
  padding: 20px;
  background: $primary-color;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
  margin-bottom: 50px;

  &__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

&__btn {
  display: flex;
  justify-content: end;
  padding: 40px 0 20px 0;
}

&__errros--item {
color: red;
}

}


