
  <form [formGroup]="categoryForm"  class="categoryForm">
    <div class="categoryForm__info">
      <fieldset class="categoryForm__group">
        <app-form-field [label]="'Nombre de la Categoría'">
          <app-input class="category__input" [control]="categoryName"  [type]="'text'" [placeholder]="'Escribe el nombre de la categoría (máximo 50 caracteres)'"></app-input>
        </app-form-field>
      </fieldset>
      <fieldset class="categoryForm__group">
        <app-form-field [label]="'Descripción'">
          <app-textarea [control]="categoryDescription"  [placeholder]="'Ingrese la descripcion de la categoria.'"></app-textarea>
        </app-form-field>
      </fieldset>
    </div>
    <footer class="categoryForm__btn" >
      <app-button [text]="'Crear'" (buttonClick)="sendData()" ></app-button>
    </footer>
  </form>

