
  <form action="" class="categoryForm">
    <div class="categoryForm__info">
      <div>
        <app-form-field [label]="'Nombre de la Categoría'">
          <app-input [formControl]="name" class="category__input" [type]="'text'" [placeholder]="'Escribe el nombre de la categoría (máximo 50 caracteres)'"></app-input>
        </app-form-field>
      </div>
      <div>
        <app-form-field [label]="'Descripción'">
          <app-textarea [formControl]="description"  [placeholder]="'Enter category description'"></app-textarea>
        </app-form-field>
      </div>
    </div>
    <div class="categoryForm__btn" >
      <app-button [text]="'Crear'" (buttonClick)="sendData()"></app-button>
    </div>
  </form>

{{name.value}}
{{description.value}}
