<header class="header">
  <div class="header__container">
    <p class="header__logo" routerLink="/">Hogar<span>360</span></p>
  <nav class="header__nav">
    <ul class="header__nav-ul">
      <!-- <li class="header__nav-item">Compra</li>
      <li class="header__nav-item">Renta</li>
      <li class="header__nav-item">Vende</li> -->
      <div class="header__btn">
      <button routerLink="/login" *ngIf="!isLogged">Ingresar</button>
      <button (click)="setFlag()" *ngIf="isLogged">Ingresar</button>
    </div>
    </ul>
    <section class="header__popup" *ngIf="flag">
      <div class="header__popup-items">
        <p class="header__popup-item" routerLink="{{accessLink}}">Administracion</p>
        <a href="/"><p class="header__popup-item" (click)="logOut()" >Cerrar sesion</p></a>

      </div>
    </section>

  </nav>
  </div>
</header>
