<aside class="sidebar">
  <app-sidebar-link class="sidebar__item" [icon]="faGauge" label="Dashboard" routerLink="/dashboard" ></app-sidebar-link>
  <app-sidebar-link class="sidebar__item" [icon]="faTag" label="Categorías" routerLink="/categories" ></app-sidebar-link>
  <app-sidebar-link class="sidebar__item" [icon]="faHome" label="Propiedades"></app-sidebar-link>
  <app-sidebar-link class="sidebar__item" [icon]="faUsers" label="Usuarios"></app-sidebar-link>
  <app-sidebar-link class="sidebar__item" [icon]="faGear" label="Configuración"></app-sidebar-link>
</aside>
