@import 'variables';

  .table__cell {
    padding: 10px;
    border-bottom: 2px solid $border-color;




    &-actions--delete {
      color: $delete-color;
    }


  }

  .table__cell:last-child {
    display: flex;
    justify-content: end;
  }

  .table__cell td:last-child {
    border: none;
  }


  @media(max-width: 650px) {
    .table__cell {
      font-size: 13px;
    }
  }
